.DS_Store
.env
.env.*
.pytest_cache/
.ruff_cache/
.mypy_cache/
__pycache__/
*.pyc
.coverage
coverage.xml
.terraform/
*.tfstate
*.tfstate.*
*.tfplan
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraform-build/
.venv/
node_modules/
dist/
.tsbuildinfo
.wrangler/
